*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body {
    background-color: rgb(255, 255, 255);
  }

.headerLogo{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.headerLogo img{
    position: relative;
    height: 250px;
    width: 250px;
}
.login{
    position: absolute;
    top: 90px; 
    right: 100px;
    z-index: 999;
    flex-direction: column;
    align-items: center;
}
.login a{
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease;
}
.login a:hover{
    color: #ff0000;
    font-size: 20px;
}
.login button{
    padding: 10px;
    background-color: #07212B;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;

}
.login button:hover{
    background-color: #ccc;
}
nav{
    
    width: 100%;
    height: 75px;
    background-color: #07212B;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    

}
.logo{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #03a4ed;
    line-height: 100px;
    float: left;
}
.logo span{
    color: green;
}
.menu{
    width: 65%;
    display: flex;
    justify-content: right;
    list-style: none;
}
.menu li{
    margin-left: 20px;
}
.menu li a {
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease;

}
.menu li a:hover {
    color: #ff0000;
    font-size: 20px;

}
.menu button{
    padding: 10px;
    background-color: #07212B;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;

}
.menu button:hover{
    background-color: #ccc;
}
.search{
    display: flex;
    align-items: center;
    margin-right: 0;
}
.search form{
    display: flex;
    margin: 0;
}
.search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;

}
.search input:hover{
    border: 1px solid #72a0d4;
}
.search button{
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}
.search button:hover{
    background-color: #ccc;
}
#image1{
    margin-top: 2px;
    width: 100%;
    height: auto;
   
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.btn-group button {
    font-size: 13px;
    border-radius: 18px;
    margin-right: 2px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  
  .btn-group button:hover {
    background-color: #ccc;
  }
  .btn-group b:hover{
    font-size: 15px;
    color: #ff0000;

  }
